You can set up your numbering format below. Allowed variables:<br />

<pre>
    SIMPLE_NUMBER - changes to a serial number of given invoice (1,2,3 etc)
    NUMBER - changes to number with 0 at the beginning (01,02,03 etc)
    SIMPLE_DAY - changes to day of the month (1,2,3 etc)
    DAY - changes to day of the month (01,02,03 etc)
    SIMPLE_MONTH - changes to month number (1,2,3 etc)
    MONTH - changes to month number (01,02,03 etc)
    YEAR - changes to two last digits of the year (15, 16 etc)
    FULL_YEAR - changes to year (2015, 2016 etc)
</pre>

<p><b>For example:</b></p>
<p>Numbering format <i>TECH-SIMPLE_NUMBER-MONTH-FULL_YEAR</i> will appear on the first invoice as <i>TECH-1-11-2015</i></p>
<p>Serial numbers are generated automatically one after another. If you have 10 invoices, new one will have serial number 11.</p>
<p>If you remove invoice 10, latest invoice will get number 10.</p>